body{
  margin: 0;
  padding: 0;
}
.a{
  color: white;
  font-size: 25px;
  text-decoration: none;
  background-color: green;
  padding: 12px 10px;
}
.a:hover{
  background-color: white;
  color: black;
}
.b li a{
  font-size: 25px;
  margin: 0 10px;
}
.b li a:hover{
  background-color: white;
  color: black !important;
}
.c{
  font-size:25px;
  margin-left: 700px;
}
.c:hover{
  background-color: white;
  padding: 10px 5px;
}
.c1 a{
  font-size: 30px;
  background-color: black;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  position: relative;
  bottom: 52px;
}
.c1 a:hover{
  background-color: rgb(2, 110, 110);
}
.c2{
  margin: 80px 0;
}
.c2 p:first-child{
  font-size: 40px;
  text-align: center;
}
.c2 > p:nth-child(2){
  text-align: center;
}
.c3{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.c3 img{
  border-radius: 50%;
  margin: 0 40px;
}
.c3 img:hover{
  opacity: 0.6;
}
.c3 p:nth-child(2){
  font-size: 35px;
}
.c3 p:nth-child(3){
  text-align: center;
}
.c8{
  background-color: rgba(0, 0, 0, 0.808);
  display: flex;
}
.c111 p:nth-child(1){
  font-size: 25px !important;
  color: black !important;
}
.c8 + a{
  background-color: rgb(6, 101, 101);
  font-size: 25px;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  float: right;
  position: relative;
  bottom: 50px;
}
.c8 + a:hover{
  background-color: white;
  color: black;
}
.c111 p{
  font-size: 25px;
}
.c110{
  background-color: white;
  width: 280px;
}
.c110 p{
  margin-left: 20px;
}
.c121{
  background-color: white;
  width: 280px;
}
.c121 p{
  margin-left: 20px;
}
.c122{
  background-color: white;
  width: 280px;
}
.c9{
  margin: 0 20px;
}
.c9 p:nth-child(1){
  font-size: 30px;
  color: white;
  padding-top: 50px;
}
.c9 p:nth-child(2){
  width: 410px;
  font-size: 20px;
  color: white;
}
.c122 p{
  margin-left: 20px;
}
.c111{
  display: flex;
  gap: 15px;
  margin-top: 100px;
  margin-left: 50px;
}
.d{
  text-align: center;
}
.d1{
  display: flex;
  margin-top: 60px;
  justify-content: space-around;
}
.d2 p{
  border-bottom: 10px;
}
form{
  background-color: white;
  margin-left: 300px !important;
  margin-top: 50px;
}
input{
  padding: 20px 200px;
  border: none;
}
label{
  font-size: 20px;
  margin: 10px 10px;
}
.d8{
  background-color: darkgrey;
  display: flex;
}
form:last-child{
  font-size: 20px;
}
.d10{
  width: 50px;
  height: 25px;
}
.d9{
  margin-top: 50px;
  margin-left: 40px;
}
.d9 p:first-child{
  font-size: 30px;
  text-decoration: underline 5px rgb(5, 34, 34);
}
.d9 p:nth-child(2){
  font-size: 20px;
}
.d8 + img{
  width: 90%;
  margin-left: 75px;
  margin-top: 60px;
}
 footer{
  background-color:black;
  height: 180px;
  color: white;
  text-align: center;
}
.d11{
  position: relative;
  top: 30px;
}
footer i{
  margin: 0 5px;
  font-size: 25px;
  background-color: aqua;
  padding: 8px 10px;
}
footer i:hover{
  background-color: white;
  color: black;
}
footer a{
  color: white;
}
footer a:hover{
  color: aqua;
}
@media screen and (max-width:460px){
  .a1 button{
    position: relative;
    left: 220px;
  }
  .c3{
    display: grid;
    width: 100%;
    margin: auto;
  }
  .c3 div{
    margin: auto;
  }
  .c8{
    display: block;
  }
  .c9 p:nth-child(2){
    width: 100%;
  }
  .c111{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .d1{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .d8{
    display: block;
  }
  form{
    position: relative;
    right: 300px;
    width: 100%;
  }
  input{
    width: 100%;
  }
  .d8 + img{
    position: relative;
    right: 58px;
    width: 90%;
  }
  body{
    overflow-x: hidden;
  }
}